
@model Spice.Models.ShoppingCartModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Item Details</h2>

<form method="post">
    <div class="border backgroundWhite row">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input asp-for="@Model.MenuItemId" hidden />
        <div class="col-8">
            <!--Name-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" asp-for="MenuItem.Name" readonly />
                </div>
            </div>
            <!--Description-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.Raw(Model.MenuItem.Description)
                </div>
            </div>
            <!--Price-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" asp-for="MenuItem.Price" readonly />
                </div>
            </div>
            <!--category-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" value="@Model.MenuItem.Category.Name" class="form-control" readonly />
                </div>
            </div>
            <!--SubCategory-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" value="@Model.MenuItem.SubCategory.Name" class="form-control" readonly />
                </div>
            </div>
            <!--Spiceness-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.MenuItem.Spicyness" id="Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control" disabled="disabled"></select>
                </div>
            </div>
            <!--Count-->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Count" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <!--Button-->
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-4">
                    <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
                </div>
                <div class="col-4">
                    <button type="submit" class="form-control btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}